@import '../../../config-scss/rem-calc.scss';

:host{
  form{
    display: flex;
    max-height: rem-calc(50);
    justify-content: space-between;
    align-items: center;
    padding: rem-calc(15) rem-calc(20);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: rem-calc(10);
  }

  input{
    width: 95%;
    background: none;
    border: none;
    font-size: rem-calc(18);
    color: rgba(255, 255, 255, 1);
  }

  input::placeholder{
    font-weight: 100;
    color:rgba(255, 255, 255, 1);
  }

  img{
    width: rem-calc(17.49);
    height: rem-calc(17.49);
    top: rem-calc(143);
    left: rem-calc(800);
    cursor: pointer;
  }
}
